@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Vidaloka&family=Vollkorn&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Vidaloka', serif;
    font-family: 'Vollkorn', serif;
}
:root{
    --lightblack: #333;
    --white: #f8f8ff;
    --red:#EC255A;
    --yallow:#fdb51f;
    --hoveryallow:#eebc4f ;
    --black:#1111;
    --bs-gray-200:  #e9ecef;
    --bs-gray-300:  #dee2e6;
    --bs-gray-400:  #ced4da;
    --bs-gray-500:  #adb5bd;
    --bs-gray-600:  #6c757d;
  }
/* hero section */
#home{
    background-image: url('../assets/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
    background-position: center center;
    width: 100%;
    height: 80%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14rem;
    margin-bottom: 5rem;
    z-index: -1;
    
}
#home::before{
    content: "";
    position:absolute;
    background: rgba(0,0,0,0.2);
    top:0;
    left:0;
    width:100%;
    height: 100%;
} 
.bg-content{
    font-size: 3.30rem;
    font-weight: 700;
    position: relative;
	z-index: 5;
    text-transform: uppercase !important;
}
.bg-content2{
    font-size: 2.30rem;
    font-weight: 500;
    position: relative;
	z-index: 5;
    text-transform: uppercase !important;
}
.home-bg-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    line-height: 2;
   
}

 #home .home-bg-content button{
 position: relative;
 z-index: 5;  
  padding:0.6em 1em;
  border-radius: 30px;
  color:#f8f8ff;
  border-style: none;
  background-color:var(--yallow);
  width: 25%;
  text-transform: uppercase !important;
  font-size: 1em;
  font-weight: 500;
  margin-top: 1em;
 }
 #home button:hover{
     cursor: pointer;
     background-color:var(--hoveryallow) ;
 }
 /* home courses section */
 .home-course-card-desc{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-bottom: 2em;
 }
 .home-course-card button{
  width: 10%;
  padding: 10px 20px;
  border: none;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  background:var(--yallow);
  border-radius: 30px;
  margin-top: -9em;
 }
 .home-course-card button a{
    text-decoration: none;  
    color: var(--white);
 }
 .home-course-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em ;
 }
 .home-course-card button:hover{
    cursor: pointer;
    background-color:var(--hoveryallow) ;
}
/* about us */
#about{
    background-image: url('../assets//img/about-hero2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height:65%;
    z-index: -1;
    /* padding: 10rem; */
    margin-bottom: 5rem;
}
#about::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.1);
    width:100%;
    height: 100%;
}
.heading-main{
    text-align: center;
    margin: 5rem;
    font-size: 3em;
}
.Who-we-are{
    display: flex;
    gap:2em;
    padding:5em;
    margin:0 5em;
    background-color: #f8f8ff;
    border-radius: 1em;
}
.content-img img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.7);
}
.content p{
   font-size: 1.5em;
   line-height: 1;
   /* text-shadow: 1px 1px 3px #0C1B54; */
  
}
.about-video {
    text-align: center;
    margin-bottom:5rem ;
    
}
.about-video iframe{
    border-radius: 1em;
}
/* signin/signup section */
.form2-signin{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    width:100%;
    height: 100vh;
  }
  .form2-signin .img-box{
    position: relative;
    width:50%;
    height: 70%;
  }
  .img-box:before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left:2em;
    /* background: linear-gradient(255deg,#EC255A,#333); */
    z-index: 1;
    mix-blend-mode: screen;
  }
  .form2-signin .img-box img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    /* object-fit: cover;    */
  }
  .form2-signin.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 100%;
  }
.form2-signin .content-box .form-box-sigin{
  margin-top: 5em;
  width: 100%;
}
.form2-signin .content-box .form-box-sigin h2{
  color:var(--lightblack);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid var(--yallow);
  display: inline-block;
  letter-spacing: 1px;
}
.form2-signin .content-box .form-box-sigin .form-group{
  margin-bottom: 20px;

}
.form2-signin .content-box .form-box-sigin .form-group label{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: var(--yallow);
  font-weight: 300;
  letter-spacing: 1px;
}
.form-check{
    margin-top: 5px;
    margin-bottom: 10px;
  display: inline-block;
  color: var(--yallow);
  font-weight: 300;
  letter-spacing: 1px;
}
.form2-signin .content-box .form-box-sigin .form-group input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid var(--yallow);
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--yallow);
  background: transparent;
  border-radius: 30px;
}
.form2-signin .content-box .form-box-sigin .form-group input[type='submit']{
  background: var(--yallow);
  color: var(--white);
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.form2-signin .content-box .form-box-sigin .form-group input[type='submit']:hover{
    cursor: pointer;
    background-color:var(--hoveryallow) ;
}
.form2-signin .content-box .form-box-sigin .form-group p{
  color: var(--lightblack);;
}
.form2-signin .content-box .form-box-sigin .form-group p a{
  color:var(--yallow);
}
.form2-signin .content-box .form-box-sigin .form-footer a{
   color:var(--yallow);
}
.form-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* courses page */
.courses-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:2;
    padding: 6em;
}
.courses-section h1{
    font-size: 3.50em;
}
.courses-section h5{
    color: var(--bs-gray-500);
    margin-top: 1em;
}
.courses-section h5 a{
    text-decoration: none;
    color: var(--yallow);
}
.courses-section button a{
   text-decoration: none;
   color: var(--white);
}
.card {
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
  }
  .cotainer{
      max-width: 1100px;
      margin: auto;
      overflow: hidden;
      padding: 0 2rem;
  }
.course-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
    height: 100vh;
}
.course-card{
     text-align: center;
     padding:1em;
    margin-top: -5em;
    position: relative;
    margin:2rem 0;
    height:80vh;
    -webkit-box-shadow: 0px 10px 20px -12px rgb(0 0 0 / 18%);
    -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 10px 20px -12px rgb(0 0 0 / 18%);
}
.course-card-container .course-card img{
width: 100%;
height: 50%;
}
.course-card-container .course-card p{
    color:#828282;
    font-size: medium;
    text-transform: capitalize;
}
.course-card-container .course-card p span{
  color: var(--yallow);
  font-weight: 600;
}
.course-card-container .course-card a{
    color:var(--yallow);
    font-size: medium;
    text-transform: uppercase;
}
.course-card-container .course-card h2{
    padding:0.7em;
    font-weight: 400;
    color:var(--lightblack);
    text-transform:uppercase;
}
.row-search{
  width:100%;
  margin:2% auto 0% auto;
}
.row-search form{
  display:flex;
  justify-content:center;
  margin:0.9em ;
}
.row-search label{
  align-self:center;

}
.row-search input{
  width:90% !important;
  margin-right:1rem;
  height: 50px;
}
.row-search button{
  background-color:var(--yallow);
  color:var(--white);
  border: none;
  border-radius: 3em;
  padding:0 2em;
  height: 50px;
}
/* course details page */
.course-detail-container{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  /* margin: 2em 4em; */
  margin:2em;
}
.course-detail-container .img-detail{
  display: flex;
  justify-content: space-between;
  padding:2.5em 1em;
  border-bottom: 1px solid var(--bs-gray-400);
  
  /* align-items: center; */
}
.course-detail-container .img-detail .name-book{
   margin: 0 2em;
}
.book-section{
  width: 50%;
  margin: 2em 1em;
}
.name-book h1 span{
  color: var(--yallow);
}
.name-book h1{
  color:var(--lightblack);
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
}
.book-section h2{
  color:var(--lightblack);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid var(--yallow);
  display: inline-block;
  letter-spacing: 1px;
}
.book-section .form-group{
  margin-bottom: 20px;
 
}
.book-section .form-group label{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: var(--yallow);
  font-weight: 300;
  letter-spacing: 1px;
}
.book-section .form-group input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid var(--yallow);
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--yallow);
  background: transparent;
  border-radius: 30px;
}
.book-section .form-group input[type='submit']{
  background: var(--yallow);
  color: var(--white);
  margin-top: 1em;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  /*  */
  width: 40%;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 30px;
}
.book-section .form-group input[type='submit']:hover{
  cursor: pointer;
  background-color:var(--hoveryallow) ;
}
.course-detail-container.img-detail .img-box img{
  position: absolute;
  width: 100%;
  height: 50%;
  object-fit:cover;   
}

/* .course-details .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.course-detail-container .table-details{
  display: flex;
  justify-content: space-between;
  padding:1em;
}

.course-detail-container .details{
  margin: 2em;
  font-size: 1.3em;
}
.course-detail-container  .details .label{
  color:var(--yallow);
  font-weight: 500;
  line-height: 3;
}
.course-detail-container  .details .info{
  color: var(--lightblack);
}
.comment-table{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12em;

}
.comment-section{
  width: 50%;
  margin: 2em;
}
.comment-section h2{
  color:var(--lightblack);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid var(--yallow);
  display: inline-block;
  letter-spacing: 1px;
}
.comment-section .form-group{
  margin-bottom: 20px;
 
}
.comment-section .form-group label{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: var(--yallow);
  font-weight: 300;
  letter-spacing: 1px;
}
.comment-section .form-group #comment{
  width: 80%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid var(--yallow);
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--yallow);
  background: transparent;
  border-radius: 30px;
}
.comment-section .form-group input[type='submit']{
  background: var(--yallow);
  color: var(--white);
  margin-top: 1em;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  /*  */
  width: 30%;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 30px;
}
.comment-section .form-group input[type='submit']:hover{
    cursor: pointer;
    background-color:var(--hoveryallow) ;
}
/* profile page */
.reservation-table{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5em;
  margin-top:-7em;

  /* overflow-x:auto; */
}
.reservation-table h2{
   color: var(--lightblack);
   display: inline-block;
   letter-spacing: 1px;
}
.reservation-table table{
  width: 100%;
}

.reservation-table table{
  border-collapse: separate;
  border-spacing: 0 7px;
}
.reservation-table table th{
  background-color: var(--yallow);
  color: var(--white);
  padding: 1em;
}

.reservation-table table td{
  background-color: var(--lightblack);
  color: var(--white);
  font-weight: bold;
  padding: 1em;
}
/* footer section */
.footer{
    /* background: rgb(2,0,36); */
    /* background:linear-gradient(135.2deg, #3149a8 0, #0C1B54 100%); */
   background:linear-gradient(135.2deg ,#434343 0, #202020 100%);
    display: flex;
    color: #fff;
    justify-content:space-evenly;
    padding: 40px;
  }
  .important-links{
    border-left: #c3c3c3 1px solid;
    padding: 10px;
  }
  .important-links h2{
     padding:0.3em;
     border-bottom: solid var(--yallow) 4px;
  }
   .important-links ul{
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin: 20px 0px;
  }
   .important-links  ul li a{
  text-decoration: none;
  color:#fff;
  font-size: 1em;
  }
  .important-links ul li a:hover{
    cursor: pointer;
    color: var(--hoveryallow);
    text-decoration: underline;
  }
  .follow-us h2{
    padding:0.3em;
    border-bottom: solid var(--yallow) 4px;
  }
  .follow-us ul{
    display: flex;
    list-style-type:none;
    margin: 20px 0px;
  
  }
  .follow-us ul li a{
    padding:0 10px;
    font-size: 1.5em;
    color: #fff;
  }
  .follow-us ul li a:hover{
   cursor: pointer;
   color: var(--hoveryallow);
  }
  .payment-methods h2{
    padding:0.3em;
    border-bottom: solid var(--yallow) 4px;
  }
  .payment-methods ul li {
   padding:0 10px;
   font-size: 1.5em;
  }